---
import PageLayout from '../../../layouts/PageLayout.astro';
import ArticleView from '../../../components/resources/ArticleView';

const locale = 'ro';
---

<PageLayout locale={locale} pageKey="resources" title="Articol - Capital Hub Finance" description="Resurse si articole despre finantare, cash-flow si structurare financiara.">
  <!-- Header background -->
  <div class="bg-gradient-to-b from-royal-blue to-royal-blue-2 h-24 lg:h-32"></div>
  <div class="pt-10 pb-16 lg:pb-24 px-6">
    <div class="max-w-3xl mx-auto">
      <ArticleView client:load locale={locale} backUrl="/dev/ro/resurse" />
    </div>
  </div>
</PageLayout>
