@import "tailwindcss";

/* Optional: your custom CSS below */
html, body {
  height: 100%;
}

/* Define your variables here for v4 compatibility */
:root {
 --color-royal-blue: #1A3C6E;
  --color-royal-blue-2: #112F5A;
  --color-warm-gold: #CFAE55;
  --color-off-white: #F4F4F4;
  --color-off-off-white: #F6F5F2;
  --color-gray-base: #333333;
  --color-cta-teal: #2CA58D;
  --color-off-blue: #98B0D4;
}

body {
    font-family: "Work Sans", sans-serif;
}