@import "tailwindcss";

@theme {
  /* Define custom colors here. 
     Tailwind will automatically generate classes like 'bg-royal-blue', 'text-warm-gold', etc. */
  --color-royal-blue: #1A3C6E;
  --color-royal-blue-2: #112F5A;
  --color-warm-gold: #CFAE55;
  --color-off-white: #F4F4F4;
  --color-off-off-white: #F6F5F2;
  --color-gray-base: #333333;
  --color-cta-teal: #2CA58D;
  --color-off-blue: #98B0D4;

  /* Define fonts */
  --font-sans: "Work Sans", sans-serif;
}

/* Optional: Custom global styles */
html, body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
}